
  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    Font-size: 18px;

}
body{
    background-color: hsl(0, 0%, 98%);
}
nav{
    background-color:hsl(0, 0%, 100%) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
nav ul li::before{
    content: "";
    width: 0;
    height: 2px;
    background-color:hsl(136, 65%, 51%);
    position: absolute;
    bottom: -9px;
    transition: .8s;


}
nav ul li {
    position: relative;
}
nav ul li:hover::before{
width: 100%;
transform: width;

}
nav ul li.active::before{
    content: "";
    width:100%;
    height: 2px;
    background-color:hsl(136, 65%, 51%);
    position: absolute;
    bottom: -9px;
    transition: .8s;
}

nav ul li a{
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}
.cta{
    border-radius: 18px;
    padding: 10px 20px 10px 20px;
    font-size: .7em;
    border: none;
    background-image: linear-gradient(45deg,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    cursor: pointer;

}
.cta:hover{
    background-image: linear-gradient(45deg,hsl(192, 70%, 51%),hsl(136, 56%, 64%));
}

/* second container */
.header-container{
    display: flex;
}
.header-container .col-1{
flex-basis: 60%;
padding: 10%;
}
.header-container .col-2{
    background-image: url(/images/bg-intro-desktop.svg);
    background-size: 190%;
    background-repeat: no-repeat;
    background-position: left;
 
    flex-basis: 60%;
}
.header-container .col-2 img{
    width: 90%;
}
h2{
    font-weight: 300;
    font-size: 3.1em;
    margin-bottom: 20px;
}
p{
    margin-bottom: 20px;  
}

/* container two */
.container-two{
    padding: 5% 10% 3% 10%;


    background-color:hsl(220, 16%, 96%) ;
}
h3{
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 2.1em;
}
 .card{
    min-width: 150px;
    max-width: 270px;
    margin:20px 0 20px 0;
    position: relative;

 }
 .feture-cards{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
 }

 h4{
    font-weight: 700;
    margin:20px 0 20px 0;
 }
 /* container-three */

 .container-three{
    padding: 5% 10% 0 10%;
    background-color: hsl(0, 0%, 98%);
 }
 .card.article{
    background-color:hsl(0, 0%, 100%) ;
 }
 .art-img img{
    width: 100%;
 }