@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}
body {
  background-color: hsl(0, 0%, 98%);
}
nav {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
nav ul li::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: hsl(136, 65%, 51%);
  position: absolute;
  bottom: -9px;
  transition: 0.8s;
}
nav ul li {
  position: relative;
}
nav ul li:hover::before {
  width: 100%;
  transform: width;
}
nav ul li.active::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: hsl(136, 65%, 51%);
  position: absolute;
  bottom: -9px;
  transition: 0.8s;
}

nav ul li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
.cta {
  border-radius: 18px;
  padding: 10px 20px 10px 20px;
  font-size: 0.7em;
  border: none;
  background-image: linear-gradient(
    45deg,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.cta:hover {
  background-image: linear-gradient(
    45deg,
    hsl(192, 70%, 51%),
    hsl(136, 56%, 64%)
  );
}

/* second container */
.header-container {
  display: flex;
}
.header-container .col-1 {
  flex-basis: 60%;
  padding: 10%;
}
.header-container .col-2 {
  background-image: url(/images/bg-intro-desktop.svg);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position: left;

  flex-basis: 60%;
}
.header-container .col-2 img {
  width: 90%;
  transition: ease-in-out 1.3s;
}
.header-container .col-2 img:hover {
  transform: rotate(360deg);
}
h2 {
  font-weight: 300;
  font-size: 3.1em;
  margin-bottom: 20px;
}
p {
  margin-bottom: 20px;
}

/* container two */
.container-two {
  padding: 5% 10% 3% 10%;

  background-color: hsl(220, 16%, 96%);
}
.container-two .card p {
  font-size: 0.8em;
}
h3 {
  font-weight: 300;
  margin-bottom: 30px;
  font-size: 2.1em;
}
.card {
  min-width: 150px;
  max-width: 270px;
  margin: 20px 0 20px 0;
  position: relative;
}
.feture-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

h4 {
  font-weight: 700;
  margin: 20px 0 20px 0;
}
/* container-three */

.container-three {
  padding: 5% 10% 0 10%;
  background-color: hsl(0, 0%, 98%);
}
.card.article {
  background-color: hsl(0, 0%, 100%);
}
.art-img img {
  width: 100%;
  height: 200px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.art-img img:hover {
  transform: scale(1.1);
}
.author p {
  margin-top: 12%;
  font-size: 0.8em;
}
.card .content {
  padding: 10px;
}
.card .content p {
  font-size: 0.8em;
}
.card .content h4 {
  font-size: 0.9em;
}
/* footer */
footer {
  background-color: hsl(233, 26%, 24%);
}
.footer-container {
  display: flex;
  padding: 2% 10% 3% 10%;
  justify-content: space-between;
  align-items: center;
}
footer .group {
  display: flex;
  gap: 80px;
  line-height: 1.7em;
}
footer .footer-container .group .col-1 {
  color: hsl(0, 0%, 100%);
}
footer .footer-container .group .col-1 .logo i {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
footer .footer-container .group .col-1 .social i {
  margin: 5px;
  cursor: pointer;
  transition: 0.6s;
}
footer .footer-container .group .col-1 .social i img:hover {
  transform: translateY(2px);
}
footer .footer-container .group .col-2 ul li {
  list-style: none;
}
footer .footer-container .group .col-2 ul li a {
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  line-height: 1.7em;
  font-size: 0.7em;
  font-weight: 300;
}
footer .footer-container .group .col-2 ul li a:hover {
  color: hsl(192, 70%, 51%);
}
footer .footer-container .col-3 p {
  color: hsl(0, 0%, 100%);
  font-size: 0.6em;
  font-weight: 300;
  margin-top: 20px;
}
.open{
    border: none;
    background: none;
    outline: none;
    display: none;
}
.close{
    display: none;
    border: none;
    background: none;
    outline: none;
}
/* mobile */
@media only screen and (max-width:375px ) {
   nav ul{
    display: none;
    position: absolute;
    top: 100px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px 37% 15px 37%;
    text-align: center;
    line-height: 40px;
    box-shadow:1px 15px 15px hsl(233, 26%, 24%),1px 5px 15px hsl(233, 8%, 62%) ;
    border-radius: 7px;
   }
   nav .cta{
    display: none;
   }
   nav .open{
    display: block;
   }
  
   .header-container{
    display: block;
   }
   .header-container .col-1 h2{
    font-size: 2em;
   }
   .footer-container {
    
    display: block;
   
  }
  .footer-container .col-3{
    margin-left: 28%;
    
  }
  .footer-container .col-1{
    margin-left: 25%;

  }
  .footer-container .col-2{
    text-align: center;
  }
  footer .group {
    display: block;
    margin-bottom: 20px;
  }
  
  }